<html>
    <head>
    </head>
    <body>
        <h1 id="titulo"></span>{{ nome }}</h1>
        {% for entrada in entradas %}
            <h2>{{ entrada.titulo}}</h2> {{ criado_em }}
            <h2>{{ entrada.texto}}</h2>
        {% endfor %}    

        <p class="textoRoxo">Aqui tem outro paragrafo</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhLpAMZelvLQ9M7X-FVCHCro2ode24PQQdD4pdeYqLtQ&s">
        <ol class="textoRoxo">
            <li>Lorem</li>
            <li>aqui é o segundo item da lista</li>
        </ol>
    </body>
</html>